
{{!-- Partials are used as templated layouts that can be added into other pages
You can referance a partial by using {{>header}} --}}

<header> <!-- division -->
    <h1>{{title}}</h1>  <!-- referances the 'title' variable from the app render variables -->

    <a href="/">Home</a> <!-- anchor -->
    <a href="/about">About</a> <!-- anchor -->
    <a href="/static_file">Static File</a> <!-- anchor -->
    <a href="/file_download">File Download</a> <!-- anchor -->
    <a href="/form">Form</a> <!-- anchor -->
    <a href="/formSanitization">Form Sanitisation</a> <!-- anchor -->
    <a href="/fileUpload">File Upload</a> <!-- anchor -->
</header>