<header> <!-- division -->
    <h1>{{title}}</h1>  <!-- referances the 'title' variable from the app render variables -->

    <a href="/">Weather</a> <!-- anchor -->
    <a href="/about">About</a> <!-- anchor -->
    <a href="/help">Help</a> <!-- anchor -->
</header>