<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src='/js/app.js'></script>
</head>

<body>

    <div class="main-content">
        {{>header}}
        
        <h2>HTML Image stored in /public/images</h2>
        <img src="images/image.jpg" alt="Image" width="500" height="600">
        <!-- Image location is based on the 'app.use' to enable express to use files-->
        <!-- app.use(express.static(path.join(__dirname, 'public')));-->
    </div>
    {{!-- {{>footer}} --}}

    <script src='/js/app.js'></script>
</body>